@model IEnumerable<OdontoSimple.Models.Tratamento>

@{
    ViewData["Title"] = "Tratamento - Consulta";
}

<h1>Tratamentos</h1>
<hr />
<p>
    <a asp-action="Create">INICIAR</a>
</p>
<div class="row">
    <div class="col-md-6">
        <div class="container-fluid">
            <form class="form-horizontal" role="search" asp-action="SimpleSearc">
                <fieldset>
                    <legend>Busca Simples</legend>
                    <div class="row">
                        
                            <div class="col-lg-5">
                                <label for="minDate" class="control-label">Data Inicial</label>
                                <input type="date" name="minDate" class="form-control" />
                            </div>
                        
                        
                            <div class="col-lg-5">
                                <label for="maxDate">Data Final</label>
                                <input type="date" name="maxDate" class="form-control" />
                            </div>
                        
                    </div>

                        <div class="col-lg-5 control-label">
                            <label for="pacienteInput">Paciente</label>
                            <input type="text" name="pacienteInput" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-success">Pesquisar</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid">
            <form class="form-horizontal" role="search" asp-action="GroupingSearc">
                <fieldset>
                    <legend>Busca Agrupada</legend>
                    <div class="row">
                        
                            <div class="col-lg-5">
                                <label for="minDate" class="control-label">Data Inicial</label>
                                <input type="date" name="minDate" class="form-control" />
                            </div>
                        
                        
                            <div class="col-lg-5">
                                <label for="maxDate">Data Final</label>
                                <input type="date" name="maxDate" class="form-control" />
                            </div>
                        
                    </div>
                        <div class="row">
                            <div class="col-lg-5 control-label">
                                <label for="pacienteInput">Paciente</label>
                                <input type="text" name="pacienteInput" class="form-control" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Pesquisar</button>
</fieldset>
            </form>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profissional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profissional.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusAtual)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
